/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
   font-family: 'Raleway', sans-serif;
   max-width: 1600px;
   margin: 0 auto;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
}

.header {
   background-image: url(../img/headerBeckgroend.jpg);
   height: 750px;
   color: white;
}

.header__nav {
   display: flex;
   align-items: center;
   padding-top: 50px;
}

.header__logo {
   text-transform: uppercase;
   display: flex;
}
.header__logo-img {
   margin-right: 10px;
}
.header__logo a {
   color: white;
}
.header__logo-text {
   font-weight: 800;
   display: block;
   letter-spacing: 0.5px;
}


.header__link {
   margin-left: 295px;
}
.header__link a {
   color: white;
   margin: 0 25px;
   font-weight: 600;
}
.header__link a:hover {
   color: #061e37;
}

.header__nav button {
   color: white;
   font-size: 12px;
   width: 80px;
   height: 25px;
   border: 1px solid #ffffff;
   border-radius: 2px;
   background-color: transparent;
   margin-left: auto;
}
.header__nav button:hover {
   color: #061e37;
   border: 1px solid #061e37;
}

.header__content {
   margin-top: 157px;
   display: flex;
   justify-content: space-between;
}
.header__content-left {
   max-width: 580px;
}
.header__content-left h1 {
   font-size: 55px;
   font-weight: 800;
   max-width: 470px;
   line-height: 1.18;
   text-transform: uppercase;
   margin-bottom: 8px;
   letter-spacing: 1.4px;
}
.header__content-left p {
   font-size: 18px;
   max-width: 580px;
   line-height: 1.94;
}
.header__content-right {
   width: 600px;
}
.header__content-right iframe {
   border-radius: 5px;
   border: solid 1px #061e37;
   margin-top: 8px;
   box-shadow: 0 4px 10px 0 #8c8c8c;
}

.btn__box {
   margin-top: 32px;
}

.btn {
   padding: 20px 40px;
   background-color: white;
   text-transform: uppercase;
   border-radius: 5px;
   color: #061e37;
   font-size: 15px;
   font-weight: 700;
   box-shadow: 0 4px 10px 0 #8c8c8c;
   margin-right: 24px;
}

.btn__style:hover {
   background-color: #061e37;
   color: white;
   transition: 0.2s;
}
.btn__style:active {
   background-color: grey;
   color: #061e37;
}

.management {
   text-align: center;
}
.management h2 {
   font-size: 45px;
   font-weight: 600;
   color: #061e37;
   padding-top: 95px;
}
.management h3 {
   font-size: 25px;
   font-weight: 600;
   color: #b0bec5;
   padding-top: 15px;
}
.management p {
   font-size: 15px;
   color: #b0bec5;
   padding-top: 15px;
   line-height: 1.67;
   max-width: 560px;
   margin: 0 auto;
}

.cards {
   margin-top: 95px;
   display: flex;
   justify-content: space-between;
}
.cards img {
   margin-bottom: 42px;
   height: 70px;
}
.cards h4 {
   font-size: 20px;
   font-weight: 600;
}
.cards p {
   max-width: 344px;
   line-height: 1.33;
}

.management__btn {
   padding: 20px 30px;
   background-color: #1de9b6;
   text-transform: uppercase;
   border-radius: 5px;
   color: white;
   font-weight: 700;
   box-shadow: 0 4px 10px 0 #8c8c8c;
   margin-top: 77px;
   font-size: 14px;
}

.counts {
   display: flex;
   justify-content: space-between;
   margin-top: 100px;
}
.counts__cards {
   width: 25%;
   height: 150px;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
}

.cards__bg1 {
   background-color: #80D8FF;
}
.cards__bg2 {
   background-color: #82B1FF;
}
.cards__bg3 {
   background-color: #B388FF;
}
.cards__bg4 {
   background-color: #EA80FC;
}
.counts__img {
   background-color: #fff;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   margin-right: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.counts__text {
   font-family: 'Raleway', sans-serif;
   color: white;
   font-size: 20px;
   font-weight: 800;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.counts__text span {
   padding-bottom: 5px;
}

.services h2 {
   font-size: 45px;
   font-weight: 600;
   color: #061e37;
   margin-top: 100px;
   text-align: center;
   margin-bottom: 30px;
}
.services p {
   text-align: center;
   width: 555px;
   margin: 0 auto;
   line-height: 1.67;
   color: #b0bec5;
   margin-bottom: 50px;
}

.services__rectangle {
   width: 800px;
   height: auto;
   box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
   align-items: center;
   border-radius: 5px;
   padding: 13px;
   margin: 20px auto;
}

.services__box {
   display: flex;
   cursor: pointer;
   align-items: center;
   user-select: none; 
}

.rectangle__txt {
   font-size: 15px;
   font-weight: 800;
   color: #061e37;
   text-transform: uppercase;
}

.icon {
   margin-right: 25px;
}
.icon__arrow {
   margin-left: auto;
   background-color: transparent;
}

.rectangle__box {
   margin-top: 25px;
   display: none;
}

.rectangle__text p {
   font-size: 15px;
   text-align: left;
   max-width: 470px;
   margin-bottom: 0;
   padding-left: 25px;
   color: #061e37;
}
.rectangle__text p:first-child {
   padding-bottom: 30px;
}

.services__box.active ~ .rectangle__box {
   display: flex;
}

.services__box.active button {
   transform: rotate(180deg);
}