/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
   font-family: 'Raleway', sans-serif;
}

.container {
   max-width: 1600px;
   margin: 0 auto;
}

.header {
   background-image: url(../img/headerBeckgroend.jpg);
   height: 750px;
   color: white;
}

.header__nav {
   display: flex;
   padding-top: 50px;
}

.header__logo {
   padding-left: 80px;
}

.header__link {
   margin: 0 auto;
}
.header__link a {
   color: white;
   margin: 0 25px;
   font-weight: 600;
   vertical-align: middle
}
.header__link a:hover {
   color: #061e37;
}

.header__nav button {
   color: white;
   font-size: 12px;
   margin-right: 80px;
   width: 80px;
   height: 25px;
   border: 1px solid #ffffff;
   border-radius: 2px;
   background-color: transparent;
}
.header__nav button:hover {
   color: #061e37;
   border: 1px solid #061e37;
}

.header__content {
   margin-top: 175px;
   display: flex;
   padding-left: 80px;
}
.header__content-left {
   max-width: 580px;
}
.header__content-left h1 {
   font-size: 55px;
   font-weight: 800;
   max-width: 470px;
   line-height: 1.18;
   text-transform: uppercase;
   margin-bottom: 30px;
}
.header__content-left span {
   font-size: 18px;
   max-width: 580px;
   line-height: 1.94;
}

.header__content-right {
   padding-right: 80px;
   
}
.header__content-right iframe {
   border-radius: 5px;
   border: solid 1px #061e37;

}
